services:
  app:
    container_name: darsinurse-app
    build: .
    restart: always
    ports:
      - "4000:4000"
    environment:
      DB_HOST: host.docker.internal
      DB_USER: root
      DB_PASSWORD: your_mysql_password
      DB_NAME: darsinurse
    volumes:
      - .:/app

  adminer:
    container_name: adminer
    image: adminer
    restart: always
    ports:
      - "8080:8080"
