version: "3.9"

services:
  app:
    container_name: darsinurse-app
    build: .
    restart: always
    ports:
      - "3000:3000"
    environment:
      DB_HOST: mariadb
      DB_USER: root
      DB_PASSWORD: mariadb123   # ➜ UBAH JIKA PERLU
      DB_NAME: darsinurse
    depends_on:
      - mariadb
    volumes:
      - .:/app

  mariadb:
    container_name: darsinurse-db
    image: mariadb:11
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: mariadb123   # ➜ UBAH JIKA PERLU
      MYSQL_DATABASE: darsinurse
      TZ: Asia/Jakarta
    ports:
      - "3306:3306"
    volumes:
      - mariadb_data:/var/lib/mysql

  adminer:
    container_name: adminer
    image: adminer
    restart: always
    ports:
      - "8080:8080"
    environment:
      ADMINER_DEFAULT_SERVER: mariadb

volumes:
  mariadb_data:
